{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recommended-scss"
  ],
  "plugins": [
    "stylelint-scss"
  ],
  "customSyntax": "postcss-scss",
  "rules": {
    "selector-pseudo-element-colon-notation": "single",
    "selector-list-comma-newline-after": "never-multi-line",
    "number-leading-zero": "never"
  },
  "ignoreFiles": [
    "./public/**/*.css"
  ]
}
