parameters:
  level: 5
  paths:
    - src
    - tests
  ignoreErrors:
    - '#^Call to an undefined static method Packaged\\DalSchema\\Databases\\Mysql\\MySQLColumnType::.*$#'
    - '#^Call to an undefined static method Packaged\\DalSchema\\Databases\\Mysql\\MySQLKeyType::.*$#'
